:root {
    --main-font:Roboto, sans-serif;
    --secondary-font:Raleway, sans-serif;
    --main-text-cl: #757575;
    --secondary-text-cl: #212121;
    --complementary-text-cl:#FFFFFF;
    --accent-cl:#2196F3;
    --main-bg: #FFF;
    --secondary-bg:#2F303A;
    --accent-bg:#F5F4FA;
    --button-bg:#2196F3;
}
body {
font-family: var(--main-font);
font-style: normal;
color: var(--main-text-cl);
background-color: var(--main-bg);
}
.logo {
font-family: var(--secondary-font);
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
color: var(--accent-cl);
text-decoration: none;
}
.txt-black {
color: var(--secondary-text-cl);
}
.list {
list-style: none;
}
.list .link {
color: var(--secondary-text-cl);
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;  
text-decoration: none;
}
.list .link:hover,
.list .link:focus {
color: var(--accent-cl);
}
.list .link-tel {
color: var(--main-text-cl);
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;  
text-decoration: none;
}
.link-tel:hover,
.link-tel:focus {
color: var(--accent-cl);
}
.list .link-current {
color: var(--accent-cl);
font-family: inherit;
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}
.hero-section {
background-color: var(--secondary-bg);
}
.hero-title {
color: var(--complementary-text-cl);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}
.btn-hero {
color: var(--complementary-text-cl);
background-color: var(--button-bg);
font-family: inherit;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.88; /* 187.5% */    
letter-spacing: 0.96px;
cursor: pointer;
}
.visually-hidden {
transform: scale(0);
position: fixed;
}
.title {
color: var(--secondary-text-cl);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;   
}
.subtitle {
color: var(--secondary-text-cl);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}
.text {
font-size: 14px;
line-height: 1.71px; /* 171.429% */
letter-spacing: 0.42px;
}
.subtitle-img {
color: var(--secondary-text-cl);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
}
.text-img {
text-align: center;
font-size: 16px;
line-height: normal;
letter-spacing: 0.48px;    
}
.our-team {
background-color: var(--accent-bg);
}
.bottom {
background-color: var(--secondary-bg);
}
.txt-white {
color: var(--complementary-text-cl);
}
.list .link-footer {
color: var(--complementary-text-cl);
font-family: inherit;
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
text-decoration: none;
}
.link-footer:hover,
.link-footer:focus {
color: var(--accent-cl);
}
.list .link-contacts {
color: rgba(255, 255, 255, 0.60);
}
.link-contacts:hover,
.link-contacts:focus {
color: var(--accent-cl);
}
.btn {
color: var(--secondary-text-cl);
background-color: var(--accent-bg);
text-align: center; 
font-family: inherit;
font-size: 16px;
font-style: normal; 
font-weight: 500;
line-height: 1.63; /* 162.5% */
letter-spacing: 0.48px;
border: none;
cursor: pointer;
}
.btn-current {
color: var(--complementary-text-cl);
background-color: var(--button-bg);
border: none;
cursor: pointer;
}
.btn:hover,
.btn:focus {
color: var(--complementary-text-cl);
background-color: var(--button-bg);
}
.link-portfolio {
font-family: inherit;
font-style: normal;
text-decoration: none;
}
.title-portfolio {
color: var(--secondary-text-cl);
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
}
.text-portfolio {
color: var(--main-text-cl);
font-size: 16px;
line-height: 1.88; /* 187.5% */
letter-spacing: 0.48px;
}